<h3>Tem certeza que deseja excluir o registro?</h3>

<a href="/veiculos" class="btn btn-primary">Cancelar</a>
<button class="btn btn-danger" (click)="delete()" style="margin-left:10px;" >Excluir</button>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="veiculo">Veículo</label>
        <input type="text" class="form-control validate" value="{{veiculo.veiculo}}" id="veiculo" disabled="true">
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="marca">Marca</label>
        <input type="email" class="form-control" id="marca" value="{{veiculo.marca}}" disabled="true">
      </div>

      <div class="form-group col-md-4">
        <label for="ano">Ano</label>
        <input type="number" class="form-control" id="ano" value="{{veiculo.ano}}" disabled="true">
      </div>

      <div class="form-group col-md-4">
          <label for="vendido">Vendido</label>
            <input type="text" class="form-control validate" value="{{veiculo.vendido}}" id="vendido" disabled="true">
        </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="descricao">Descricão</label>
        <textarea class="form-control" id="descricao" disabled="true" rows="3">{{veiculo.descricao}}</textarea>
      </div>
    </div>


